/* * {
  border: 1px black solid;
} */
.iframe-circle {
  left: 0%;
  bottom: 0%;
  padding: 0px;
  margin: 0 auto;
  overflow: hidden;
}
.box-image {
/*   border-radius: 50%; */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: auto;
  padding-top: 50%;
}
.title {
  font-size: 58px;

}
.img-limit {
  max-width: 30px;
}

.box-relative {
  position: relative;
  height: 50px;
}
.box-relative> {
  position: absolute;
}
.score {
  font-size: 1.5em;
  font-weight: 500;
  /* border-radius: 50%; */
  /* background: black; */
  padding: 20%;
  /* box-shadow: 3px 2px grey; */
  /* color: white; */
}

.range-style {
  width: 100%;
  -webkit-appearance: none;
  background: transparent;
}
.label {
  height: 80px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.cursor {
  cursor: pointer;
}
#bottom {
  margin-bottom: 5%;
  margin-top: 2%;
}
body {
	background-color: brown;
  font-family: "Merritweater-Italic.ttc"
}
#yrlogo {
	height: 50px;
	width: 115px;
}
.numbers {
	margin-left: 13%;
}
.text {
	color: white;
}
#votenow {
	color: brown;
}
#shanya {
	margin-top: 15%;
}
.button {
	height: 40px;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 5px;
}
.boxes {
  height: 300px;
  width: 40%;
  background-color: blue;
}
.bold {
  color: white;
  font-size: 48px;
}
.outer-box{
    position: relative;
} 

.inner-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6vw;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: bold;
}
.resultstext {
  font-size: 30px; 
  color: white;
}
#result {
  margin-top: 5%;
}
#nextbutton {
  margin-top: 10%;
}